body{background-color: #3b6978

}

.profil{
  margin-left:auto;
  margin-right:auto;
  display:block;
  width: 400px;
  border-radius: 50%;
}

.ecole1{
  margin-left:auto;
  margin-right:auto;
  display:block;
  width: 400px;
  border-radius: 20% ; 
}

.card-white{
    background-color: white;
    margin:50px;
     padding:40px;
     padding-left:30px;
     padding-right:30px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius:30px;
    margin:40px auto;
    transition:0.5s;
}

.card-white:hover{
    box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
    transition:0.6s;

}

h1{

    font-family: 'Muli', sans-serif;
    text-align: center;
}

p{
    font-family: 'Quicksand', sans-serif; font-size: 25px
}

div h2{
    font-family: 'Muli', sans-serif;
    text-align: center;
}

ul {
    font-size:24px;
    width: 100%;
    overflow: hidden;
    position: fixed;
  font-family: 'Muli', sans-serif;
  list-style-type: none;
  padding:0;
  text-align:center;
  overflow: hidden;
  background-color: #333;
  top:-1em;
  margin-left:-0.5em;
  margin-right:-0.5em;
}

li {
  float: left;
}

li a {
transition:0.3s;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
    font-weight: bold;
  background-color: #111;
  transition:0.3s;
}

html {
  scroll-behavior: smooth;
}

a{
    font-family: 'Quicksand', sans-serif;
}

.container{
    padding-top: 20px;
    width:1000px;
    margin:40px auto;
}

@media (max-width: 960px) {

  .container {
    width: 700px;
     }


  .container img{
    width: 80%;
  }
  }
@media (max-width: 720px) {

  .container {
    width: 500px;
  }
   .container img{
    width: 70%;
  }
}
@media (max-width: 540px) {

  .container {
    width: 300px;
  }

  .container img{
    width: 60%;
  }
}

i{
    margin-right:10px;
    font-size:25px
}